.filter-menu {
  /* width: 15rem; */
  margin: 0.5rem;
  border: none;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sort-options,
.filter-options {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid red; */
  width: 100%;
}

.sort-options > div,
.filter-options > div {
  margin: 0.5rem;
  /* width: rem; */
  
}
