.product-page-details{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product-page-image > img{
    border-radius: 10px;
    transform: scale(0.8);
    margin-bottom: -4rem;
}

.product-page-title, .product-page-price{
    font-size: 1.5rem;
}

.product-rating{
    font-size: 2rem;
}

.product-page-image{
    padding: 0.1rem;
    background-color: rgba(245, 245, 220, 0.575);
    border-radius: 10px;
}

.product-page-description{
    line-height: 1.9rem;

    margin-left: 2rem;
    width: 50rem;
    height: 30rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-page-buttons{
    display: flex ;
    justify-content: center;
}

.product-page-buttons > div{
    margin: 1rem;
}

@media only screen and (max-width: 600px){
    .product-page-image > img{
        
        height: 10rem;
        width: 10rem;
    }

    .product-page-title{
        margin-top: 5rem;
        margin-bottom: -0.8rem;
    }

    .product-page-title, .product-page-price{
        font-size: 80%;
        
    }

    .product-page-description, .product-rating{
        font-size: 80%;
        /* background-color: red; */
        text-align: justify;
        margin-left: -1rem;
        width: 80%;
    }

    .product-rating{
        font-size: 80%;
        /* background-color: red; */
        width: 100%;
        /* text-align: justify; */
        align-self: center;
        margin-left: 7rem;
        width: 80%;
    }

    .product-page-image{
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 12rem;
        width: 10rem;
    }

    .product-page-buttons{
        /* background-color: red; */
    }

    
    .product-page-buttons > div{
        height: 2rem;
        width: 5rem;
        font-size: 80%;
    }
}