.product-card {
  height: 24rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: flex-start;
  width: 18rem;
  padding: 0 0 0.5rem 0;
  align-items: center;
  justify-content: flex-start;
  border: 0.5px solid rgba(0, 0, 0, 0.514);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.582);
}

.product-image {
  height: 25rem;
  position: relative;
  /* border: 1px solid green; */
  margin-bottom: -2rem;
  width: 100%;
  /* border: 1px solid red; */
}

.product-image > img{
  height: 90%;
  width: 100%;
  border-radius: 10px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.wishlist-icon{
  position: absolute;
  top: 0.2rem;
  color: white;
  font-size: 1.5rem;
  right: 0.2rem;
  cursor: pointer;
  transition: all 0.05s;
}

.wishlist-icon:hover{
  transform: scale(1.1);
}

.wishlist-icon:active{
  transform: scale(0.9);
}

.product-details{
  font-size: 0.8rem;
  /* border: 1px solid green; */
  margin-top: 0.5rem;
  width: 100%;
  line-height: 0.5rem;
  height: 8rem;
  /* border: 1px solid red; */
}

.product-name{
  cursor: pointer;
  color: black;
}

/********* Quantity Section *****/

.quantity-buttons > i{
  cursor: pointer;
  margin: 0 0.5rem;
}




