.product-card {
  height: 20rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: space-between;
  width: 11rem;
  padding: 0.5rem;
  align-items: center;
  border: 1px solid black;
}

.product-card > img {
  height: 15rem;
  width: 100%;
}

/********** Button ***********/

.add-cart-button {
  text-transform: uppercase;
  cursor: pointer;
  color: beige;
  width: 8rem;
  border-radius: 10px;
  padding: 0.2rem;
  border: none;
  background: rgba(0, 0, 0);
  transition: all 0.2s;
  outline: none;
}

.add-cart-button:hover {
  transform: scale(1.1);
}

.add-cart-button:active {
  transform: translateY(0.2px);
}
