.offer-card {
  height: 25rem;
  width: 20rem;
  border-radius: 10px;
  background-color: rgb(22, 22, 22);
  transition: all 0.1s;
  display: flex;
  margin: 1rem;
  flex-direction: column;
  align-items: center;
}

.offer-card:hover {
  transform: scale(1.1);
}

.offer-img {
  transform: scale(0.8);
  margin-top: 5rem;
}

.offer-text {
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-top: 2rem;
}

@media only screen and (max-width: 600px){
  .offer-card{
    height: 18rem;
    width: 15rem;
  }

  .offer-img{
    transform: scale(0.5);
  }
}
