.cart-display{
  display: flex;
  flex-wrap: wrap;
  grid-area: item;
  flex-direction: column;
  min-height: 70vh;
  align-items: center;
  /* border: 1px solid black; */
}

.cart-items{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 1rem;
  min-height: 70vh;
  /* background-color: red; */
  justify-content: center;

}

.cart-product-display{
  margin: 1rem;
}

.empty-logo{
  font-size: 1.7rem;
  position: absolute;
  width: 20rem;
  top:30%;
}

.empty-logo > i{
  font-size: 2.5rem;
}