.cart-items{
  display: flex;
  flex-wrap: wrap;
}

.cart-display {
  margin: 4rem 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.cart-product-display {
  margin: 0.8rem;
}
